services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: timetracker
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - 5432:5432

  backend:
    build: ./backend
    environment:
      POSTGRES_DB: timetracker
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - ./backend:/app
    command: uvicorn main:app --host 0.0.0.0 --port 5000 --reload
    ports:
      - 5000:5000
    depends_on:
      - db

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm start
    working_dir: /app
    ports:
      - 3000:3000
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

volumes:
  db-data:
